# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.suo
*.sdf
*.ncb
*.opt
*.plg
*.~*
*.tds
*.local

*.vcproj.*.user
*.vcxproj.*.user
*.vcxproj.user

Debug/
Release/

/docs/html
/docs/latex
